@font-face {
  font-family: BrushScriptMD;
  src: url(../assets/fonts/brush-script-mt/brush-script-mt-kursiv.ttf);
}

@font-face {
  font-family: monserrat-black;
  src: url(../assets/fonts/monserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: monserrat-regular;
  src: url(../assets/fonts/monserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: monserrat-medium;
  src: url(../assets/fonts/monserrat/Montserrat-Medium.ttf);
}

.monserrat-regular {
  font-family: monserrat-regular;
}

.monserrat-medium {
  font-family: monserrat-medium;
}

.monserrat-black {
  font-family: monserrat-black;
}

.brush-script-md {
  font-family: BrushScriptMD;
}

.active-page-1 {
  background-color: inherit !important;
  border-color: #fff  #fff #fff !important;
  font-weight: bold;
}

.active-page-2 {
  background-color: #343a40 !important;
  border-color: #FFF  #FFF #fff !important;
}

.non-active-page {
  background-color: inherit !important;
  border-color:  #6c757d !important;
}

.left-right-margin-1 {
  margin-left: 0.25rem !important;
  margin-right: o.25rem !important;
}

html, body {
  background-color: inherit !important;
  height: 100% !important;
}

.font-bold {
  font-weight: bold;
}

.rel-pos {
  position: relative;
}

.coffe-is-good {
  margin: 30px;
  margin-left: 0;
  width: 360px;
  padding: 1rem;
  border-radius: 10px;
  border: 10px solid #EE872A;
  font-size: 100%;
}

.that-is-true {
  letter-spacing: 12px;
  font-size: 15px;
  left: 25px;
  top: 25px;
}